
/* main card css */

.image-container{
    position: relative;
    width: 273px;
    height: 182px;
}

.img-card{
    width: 273px;
    height: 182px;
    object-fit: cover;
    border-radius: 25px;
}

.offer-highligt{
    position: absolute;
    bottom: -12px;
    left: 12px;
}

.offer-style{
    color: #ffff;
    font-size: 20px;
    font-weight: 900;
    
}

.gradient{
    position: absolute;
    bottom: 0px;
    width: 100%;
    border-radius: 25px;
    height: 100%;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(238, 130, 238, 0) 41%);
}
.resto-name{
    color: black;
    font-weight: 600;
    font-size: 19px;
    margin: 0;
}
.rating-distance{
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 4px;
    margin: 0;
    
}
.rating-distance p {
    font-size: 17px;
    font-weight: 600;
    

}
.star-icon{
    border: 3px solid greenyellow;
    height: 16px;
    border-radius: 50%;

}
.rating{
    margin: 0;
}
.dot{
    margin: 0;
}

.distance{
    margin: 0;
}

.tags-area-con P {
    font-size: 16px;
    margin: 0;
    color: #67717a;
    font-weight: 400;
    padding-top: 3px;
}

.maincard-container{
    display: flex;
    flex-direction: column;
    width: 280px;
    gap: 7px;
    
}
.maincard-container:hover{
    scale: 0.95;
    transition: all 100ms ease;
    cursor: pointer;
}

.info-container{
    margin: 0 12px;
}

/* headlines */

.headlines{
    font-weight: 700;
    font-size: 25px;
}

/* banners */

.img-Banner{
    width: 144px;
    height: 180px;
}
.img-Banner:hover{
    scale: 0.9;
    transition: all 100ms ease;
}

/* nearme tabs */

.nearme-tabs{
    color: #272727;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;

    
}

.nearme-container{
    border: 1px solid rgb(168, 166, 166);
    border-radius: 12px;
    width:  236.8px;
    height: 56.7px;
   
}
.nearme-container:hover{
    scale: 0.95;
    transition: all 100ms ease;
    cursor: pointer;
}
.nearme-container-wide{
    border: 1px solid rgb(168, 166, 166);
    border-radius: 12px;
    width:  500px;
    height: 56.7px;
    margin-bottom: 100px;
}
.nearme-container-wide:hover{
    scale: 0.95;
    transition: all 100ms ease;
    cursor: pointer;
}

/* PlaystoreFlex */

.play-img{
    width: 201px;
    height: 64px;
}
.play-img:hover{
    scale: 1.1;
    transition: all 100ms ease;
    cursor: pointer;
}
.play-heading{
    color: #3d4047;
    font-size: 28px;
    font-weight: 700;
    width: 530px;
}

.play-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 110px;
    gap: 20px;
    background-color: #f0f0f5;
}

/* footer */

.Footer-container{
    width: 100%;
    height: 500px;
    background-color: #02060c;
    color: #fff;
}
.logo{
    width: 150px;
}
.heading-ftr{
    font-size: 17px;
    font-weight: 500;
    margin: 4px 0;
}
.bullets{
    display: flex;
    flex-direction: column;
    margin: 7px 0;
    font-size: 16px;
    font-weight: 600;
    color: #949890;
    
}
.Row-one{
    display: flex;
    flex-direction: column;
}
.Footer-container{
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-top: 70px;
}
.margin-top{
    margin-top: 50px;
}

/* items */

.rate{
   font-size: 18px;
   font-weight: 500;
}

.strike-rate{
    color: #4810cb;
    margin: 10px 0px;
}

.rating-container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.for-two{
    font-size: 17px;
    font-weight: 600;
    color: #67717a;
    margin: 0;
}
.cuzens{
    text-decoration: underline;
    color: #cb3210;
    font-weight: 600;
    margin: 0;
    padding-top: 1px;
}
.clock-icon{
    width: 20px;
}

.flex-horizontel{
    display: flex;
    gap: 14px;
    align-items: center;
   
}
.discount-ult-box{
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-start;
    width: 322px;
    height: 70px;
    gap: 10px;
    padding:  3px 10px;
    border: 1px solid #cecdcd;
    border-radius: 10px;
}
.discount-slider{
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.display-flex-discoun{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time{
    font-weight: 500;
    font-size: 15px;
    color: #67717a;
    margin: 0;
    padding-left: 6px;
}

.distance{
    font-weight: 500;
    font-size: 15px;
    color: #67717a;
}
.delivery-charge{
    color: #636363;;
    font-size: 15px;
    margin: 0;
    border-top: 1px solid rgb(197, 197, 197);
    padding-top: 10px;
}
.icons-container{
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin: 7px 0;
}
.locality-itm{
    color: #67717a;
    font-size: 14px;
    font-weight: 400;

}
.flex-v{
    display: flex;
    align-items: center;
    gap: 30px;
    font-style: italic;

}
.cycle-icon{
    width: 25px;
}
.Resto-item-container{
 
    background: linear-gradient(rgb(255, 255, 255) -6.71%, rgb(235, 235, 242) 56.19%, rgb(223, 223, 231) 106.56%);
    padding: 20px;
    width: 800px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.second-continer{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 36px;
    background-color: #fff;
    padding: 25px;
}

/* Discount */

.dis-row-one{
    margin: 0;
    font-size: 21px;
    font-weight: 700;
}

.dis-row-two{
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #989797;
}
.flex-vertical{
    display: flex;
    flex-direction: column;
}
.discount-img{
    width: 50px;
}
.border{
    border: 1px solid #cbc5c5;
    width: 318px;
    height: 76px;
    border-radius: 20px ;
    padding: 0 10px;
    justify-content: flex-start;
}

/* menu item */

.item-name{
    font-size: 18px;
    font-weight: 600;
    margin: 0;
}
.item-price{
    font-weight: 400;
    font-size: 16px;
    margin: 0;
    color: #898686;

}
.item-discripton{
    font-weight: 400;
    font-size: 15px;
    color: #5a5959;
    width: 400px;
}
.veg-icon{
    width: 25px;
}
.item-menu-img{
    width: 156px;
    height: 144px;
    object-fit: cover;
    padding-bottom: 10px;
}

.btn{
    width: 90px;
    height: 30px;
    padding: 5px 10px;
    
    border-radius: 7px;
    font-weight: 600;
    font-size: 10px;
}

.add-btn{
    border: 2px solid rgb(11, 221, 11);
    background-color: rgb(11, 221, 11);
    color:#fff ;
}
.added-btn{
    border:none;
    background-color: #ccf9c8;
    color:#0fae0c ;
    font-weight: 700;
    font-size: 16px;
}
.added-btn:hover{
    border: 2px solid rgb(11, 221, 11);
    cursor: pointer;
}
.add-btn:hover{
    color:rgb(11, 221, 11);
    font-weight: 600;
    background-color:#fff ;
    cursor: pointer;
}

.remove-btn{
    border: 2px solid rgb(221, 11, 11);
    background-color: #fff;
    color:rgb(221, 11, 11);
}
.remove-btn:hover{
    color:rgb(255, 255, 255);
    font-weight: 600;
    background-color:rgb(221, 11, 11);
    cursor: pointer;
}

.menuitem-container{
    display: flex;
    align-items: center;
    padding: 35px ;
    border-top: 1px solid #d3c8c8;
    width: 780px;
    gap: 160px;  
    margin-top:20px;
}
.right-continer{
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}
.btn-container{
    display: flex;
    align-items: center;
    gap: 10px;
}

/* footer items page */

.fassi-img{
    width: 60px;
    
    padding: 13px 4px;
    

}
.resto-addrs{
    padding: 10px 4px;
    border-top: 1px solid rgb(172, 169, 169);
    border-bottom: 1px solid rgb(172, 169, 169);
}
.name-resto{
    font-size: 15px;
    font-weight: 600;
    color: #ab9c9f;
   
}
.addres-resto{
    font-size: 12px;
    font-weight: 400;
    color: #ab9c9f;
}

.itm-for-heading{
    font-size: 16px;
    font-weight: 700;
}

.item-img{
    width: 151px;
    height: 48px;}

.item-footer-container{
    background-color: #f1f1f6;
    width: 780px;
    height: 500px;
    padding: 10px;
}
.play-iem-fotr{
    text-align: center;
}

/* header */

.header-heading{
    font-size: 50px;
    font-weight: 800;
    width: 220px;
    color: #3d3f48;
    margin: 0;
}
.left-container-top> svg{
    margin-top: -27px;

}
.header-img{
    width: 501px;
    height: 304px;
}
.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100vw;
    background: linear-gradient(0deg, rgb(201, 188, 244) 0%, rgb(255, 255, 255) 95.83%);
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
}

/* navbar */

.search-input{
    width: 630px;
    border: none;
    background: #f0f0f5;
    font-size: 14px;
    padding: 2px 15px;
   border-top-left-radius: 10px;
   border-bottom-left-radius: 10px;
}
.search-input:focus{
    border: #ffff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    outline: none;
    background: #ffffff;
}
.left-container-nav{
    display: flex;
    align-items: center;
    gap: 20px;
}
.search-flex{
    display: flex;
    width: 660px;
    height: 56px;
    box-shadow:  20px 20px 60px #bebebe,
             -20px -20px 60px #ffffff;
    border-radius: 50px;
   }
.lens-img{
    border: none;
    background: #f0f0f5;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 23px;
}
.lens-img:hover{
    cursor: pointer;
    background: #d9d9dc;
}
.right-container > a{
   text-decoration: none ;
   font-size: 19px;
   font-weight: 500;
   color: #4a4d5d;
}
.right-container > a:hover{
    color: #fc841f;
}
.active .this{
    color: #fc841f;
}
.cart-anchor{
    display: flex;
    gap: 5px;
}
.right-container{
    display: flex;
    gap: 40px;
    align-items:center;
}
.nav-word{
    font-size: 16px;
    font-weight: 600;
}
.cart-no{
    font-weight: 600;
    font-size: 15px;
    background-color: #60b246;
    padding: 2px 7px;
    color: #fff;
    clip-path: polygon(20% 0%, 83% 0, 100% 100%, 0% 100%);
}
.nav-line:hover .cart-no{
    background-color: #fc841f;
}
.nav-line:hover .icon-svg {
    background-color: #f69e56;
    transition: all 0.2 ease-in-out;
}
.nav-line:hover .icon-svg-two {
    background-color: #f69e56;
    transition: all 0.2 ease-in-out;
}
.active .cart-no{
    background-color: #fc841f;
}
.active .icon-svg{
    background-color: #f69e56;
    transition: all 0.2 ease-in-out;
}

/* navicons */
.icon-svg-two ,.icon-svg{
    width: 18px;
    padding: 4px;
    border-radius: 5px;
}
.nav-line{
    display: flex;
    align-items: center;
    gap: 7px;
}
.nav-container{
    display: flex;
    height: 80px;
    width: 100vw;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 300px;
    border-bottom: 1px solid rgb(185, 183, 183);
}
.restopage{
    width: 100vw;
}
/* search btn */
.flex-btn{
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 15px;
    font-weight: 500;
   
}
.ser-btn{
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
}
.ser-btn:hover{
    cursor: pointer;
}

/* error boundries */

.error-conatiner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.err-img{
    width: 300px;
}
.err-mesage{
    text-align: center;
    color: #023e98;
}


/* banner topslide */

.topslide-container{
    display: flex;
    gap: 10px;
    overflow-x: scroll;
}
.topsconainer{   
    width :1130px;
    margin: 1px auto;
}

/* resto card */
.resto-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin: 20px 0;
    width:100%
}

.resto-banners{
    display: flex;
    flex-direction: column;
    align-items: center ;
    gap: 30px;
   
}
/* subheadline */

.sub-headline{
    font-size: 20px ;
    font-weight: 700;
}

/* nearme containers */

.nearme-comtainers{
    display: flex;
    flex-wrap: wrap;
    margin: 1px auto;
    gap: 15px;
    width: 1000px;
}
.width{
    width: 100% !important;
}
.link-containers{
    width: 1080px;

}
.nearme-comtainers-two{
    display: flex;
    margin: 1px auto;
    gap: 20px;
}
.resto-mid-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-show{
    color: #ff5900;
    font-size: 15px;
    font-weight: 600;
    background-color: #fff;
    border: none;
    margin: 10px 0px;
    text-decoration: underline;
    cursor: pointer;

    
}

/* botton scroll */

.button-contianer {
    display: flex;
    justify-content: flex-end;
  }
  
  .img-container {
    display: flex;
    overflow: hidden;
    width: 100%; 
  }
  
  .img-container-two{
    display: flex;
    gap: 20px;
    margin: 10px 0;
    overflow: hidden;
    width: 100%;
  }

  .btn-lf-rt{
    background-color: #e2e2e7;
    border: none;
    padding: 0;
    border-radius: 50px;
    height: 45px;
    width: 45px;
    margin: 0 10px;
    cursor: pointer;
  }
  .arrow-img{
    padding: 0;
    margin: 0;
   
  }

  /* search bar */

  .search-slider{
    scale: 0.7;
  }

  .search-container{
    position: relative;
  }

  .butn-container{
    position: absolute;
    top: 0;
    right: 200px;
  }
  .btn-close{
    border: none;
    background-color: rgb(248, 0, 0);
    padding: 10px 20px;
    color: #fff;
    border-radius: 5px;
  }
  .btn-close:hover{
      cursor: pointer;
      background-color: rgb(247, 57, 57);
      
  }

  .search-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-boxs{
    scale: 0.9;
  }

  /* fixs on item card */

  .item-container-flex{
    display: flex;
    justify-content: space-between;
  }

  .resto-iem-img{
    width: 170px;

  }


  /* temmm */
  .temp-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
   
    gap: 50px;
    
  }

  /* menu page alingn ment */
/* menu page align ments */

.footer-menu{   
    display: flex;
    justify-content: center;
    margin-bottom: 0px;
    padding: 0;
}
.sec-one-align{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
  .section-one{
    display: flex;
    justify-content: center;  
    margin: 40px 0;
  }
  .menu-name{
    font-size: 20px;
    font-weight: 400;
    font-family: cursive;
    color: #f15700;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    padding: 5px 10px;
  }
  .menu-continer-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .toprated-btn{
    margin-top: 50px;
    border: none;
    background-color: #e4fab2;
    padding: 10px 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 500;
  }
  .toprated-btn:hover{
    cursor: pointer;
    background-color: #fffde5;
    color: #023e98;
  }

  .only-veg{
    width: 150px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    background-color: rgb(99, 247, 96);
    font: 600;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    
  }

  .veg-nonveg{
    width: 150px;
    padding: 10px 10px;
    border: none;
    cursor: pointer;
    
    font: 600;
    font-size: 15px;
    color: #fff;
    border-radius: 10px;
    background-color: rgb(247, 96, 96);
  } 



  /* shimmerui */


  /* loder bounce */

  .bouncing-loader {
    display: flex;
    justify-content: center;
  }
  
  .bouncing-loader > div {
    width: 16px;
    height: 16px;
    margin: 3px 6px;
    border-radius: 50%;
    background-color: #ffffff;
    opacity: 1;
    animation: bouncing-loader 0.6s infinite alternate;
  }
  @keyframes bouncing-loader {
    to {
      opacity: 0.1;
      transform: translateY(-20px);
    }
  }
  
  .bouncing-loader > div:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .bouncing-loader > div:nth-child(3) {
    animation-delay: 0.4s;
  }

  /* ui bag */

  .bounce-container{
    background:  linear-gradient(171.8deg, rgb(5, 111, 146) 13.5%, rgb(6, 57, 84) 78.6%);;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /* circle shimmer */

  .circle-css{
    background-color: #cccbcb;
    height: 130px;
    width: 130px;
    border-radius: 50%;
  }

  /* card shimmer ui */

  .main-rec{
    width: 270px;
    height: 210px;
    background-color: #d1d1d1;
    border-radius: 20px;
  }

  .line-rec{
    width: 270px;
    border-radius: 20px;
    height: 10px;
    background-color: #d1d1d1;
  }
  .line-rec-sh{
    width: 170px;
    border-radius: 20px;
    height: 10px;
    background-color: #d1d1d1;
  }
  .sm-ln-con{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  /* hbu */

  .circleshimmer{
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .shim-wid{
    width: 100%;
  }

  .rectangelshimmer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 1000px;
    margin: 10px;

  }
  /* login  container */

.first-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 360px;
}
  
.img-log{
    width: 120px;
}
.head-line{
    font-size: 30px;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.btn-change{
    background: none;
    border: none;
    color:#fc8019;
    font-size: 15px;
    font-weight: 500;
    padding: 0 2px;
    cursor: pointer;
}
.dis-flex{
    display: flex;
    align-items: center;
}

.log-section{
    display: flex;
    flex-direction: column;
}
.input-container{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.input-login{
    width: 355px;
    height: 72px;
    font-size: 15px;
    padding:0 15px ;
    font-weight: 500;
    border: 0.5px solid rgb(181, 180, 180);
}
.input-login:focus{
    outline: none;
    border: 1px solid gray;
    background-color: #f4f4f4;
}

.login-btn{
    width: 390px;
    height: 50px;
    background-color: #fc8019;
    border: none;
    color: #fff;
    font-weight: 600;
    font-size: 17px;
}
.login-btn:hover{
    background-color: #faa346;
    cursor: pointer;
    color: #873400;
}
.temandcondition{
    font-size: 12.3px;
    font-weight: 450;
    width: 365px;
}
.login-btn-section{
    display: flex;
    flex-direction: column;
    padding: 30px 0;
}
.d-none{
    display:none;
}

.popup-section{
    width: 570px;
    height: 100vh;
    padding:  30px  50px ;
    background-color: #fff;
}

.model-container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(51, 53, 74, 0.678);
    position: fixed;
    display: flex;
    justify-content: end;
    z-index: 10;
    top: 0;
  
}
.relativ-sign{
    position: relative;

}
.relativ-sign-width{
    width:100vw;
}

.close-imga{
    height: 30px;
    width: 30px;
    cursor: pointer;
}
.sign-in-ancor{
    cursor: pointer;
}

/* acordian*/

.accordin-con{
    background-color: #fff;
    height: 60px;
    width: 820px;
    display: flex;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    align-items: center;
    justify-content: space-between;
    border-radius: 12px;
    margin-top: 10px;
    padding: 0px  30px;
    cursor: pointer;
}
.center-co{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.acorin-headline{
    font-size: 17px;
    font-weight: 600;
    color: #2f2e2d;
}
.small-btn{
    width: 25px;
    height: 25px;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    background-color: rgb(226, 225, 225);
    font-size: 20px; 
    font-weight: 700;
    color: #fff;
}

.small-btn:hover{
    background-color: rgb(255, 212, 54); 
}

/* cart css */

.cart-items-container{
    border: 1px solid rgb(172, 171, 171);
    width: 800px;
    padding: 30px;
    
}
.cart-item-img{
    width: 50px;
    height: 50px;
   
    padding: 2px;
    margin: 2px;
}
.cart-item-name{
    width: 200px;
    color: #626670;
    font-size: 14px;
    font-weight: 600;
}
.cart-item-price{
    font-size: 16px;
    font-weight: 700;
    /* color: #0047d6; */
    color: #4a4d5d;
    width: 100px;
    text-align: end;
}

.cart-items-section{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    margin: 12px 0;
    background-color: #f7f7f7;
   
   
}

.item-quantity{
    border: 2px solid rgb(36, 144, 9);
    padding: 5px;
    text-align: center;
    width: 15px;
    font-size: 13px;
    font-weight: 700;
    color: rgb(36, 144, 9);
    cursor: default;
}
.cart-item-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid rgb(194, 194, 194);
    border-bottom: 1px solid rgb(194, 194, 194);
    background-color:  #ffffff;
    padding: 0px 10px;
}
.cart-heading{
    font-size: 20px;
    font-weight: 700;
    color: #ff4b09;
}
.cart-icon{
    width: 30px;
    background-color: #c4fcf0;
    padding: 10px;
    border-radius: 2px;
    
}
.cler-btn{
    border: none;
    border: 2px solid #c9f409;
    background-color: #ffffff;
    color: #4a5e03;
}
.cler-btn:hover{
    cursor: pointer;
    background-color: #d3ff11;
    color: #4a5e03;
}
.empty-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 700px;
    background-color: #f4f1f1;

}
.empty-img{
    width: 500px;
}
.cart-heading-empty{
    font-size: 24px;
    font-weight: 600;
    color: #023e98;
    
}

/* bill section */

.bill-detail-sec{
    display: flex;
    align-items: center;
    gap: 10px;
  
}
.bill-del{
    width: 50px;
    text-align: end;
    font-size: 10px;
}
.bill-del-lg{
    width: 200px;
    font-size: 10px;
}
.bill-detail-container{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 300px;
    box-sizing: border-box;
    padding:  10px 0;
    
}
.bill-container{
    width: 300px;
    border: 1px solid rgb(172, 171, 171);
    padding: 10px 20px;
    height: fit-content;
    position: sticky;
    top: 50px;
}

.tol-det-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    box-sizing: border-box;
    
}
.price-detail{
    font-size: 12px;
    font-weight: 600;
   
}
.sum-items{
    font-size: 12px;
    font-weight: 600;
    margin-right: 10px;
}
.price-topay-detail{
    font-size: 17px;
    font-weight: 700;
}
.bordrer{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    width: 300px;
}
.card-page-container{
    display: flex;
    justify-content: center;
    align-items: normal;
    gap: 20px;
    padding-top: 20px;
}
.btn-con{
    padding:  15px 0;
}
.cart-footer{
    margin-top: 200px;
}